.title{
    text-align: center;
    font-size: x-large;
    margin-top: 30px;
    color:#62929a
}
.content{
    font-size: large;
    margin: 10px;
    color:#efecec
}

iframe{
margin: 50px;
width: 90%;
height: 750px;
border-color: #5c5757;
}

body{
    color: #efecec;
    background: #363434
}

a:link,a:visited, a:hover, a:active{
        margin:2em;
        color:#62929a;
        font-size:20px; 
}
.caption{
    font-size: smaller;
    color: tan;
}
footer{
    text-align: center;
}
.first-color { 
	background: #363434; 
}
	
.second-color { 
	background: #5c5757; 
}

.third-color { 
	background: #62929a; 
}

.fourth-color { 
	background: #efecec; 
}